<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Boost Threads (Packaged with LabVVIS)</string>
	<key>CFBundleIdentifier</key>
	<string>net.bclai.labvvis.boost.threads</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IFPkgFlagAllowBackRev</key>
	<integer>0</integer>
	<key>IFPkgFlagAuthorizationAction</key>
	<string>AdminAuthorization</string>
	<key>IFPkgFlagBackgroundAlignment</key>
	<string>topleft</string>
	<key>IFPkgFlagBackgroundScaling</key>
	<string>none</string>
	<key>IFPkgFlagDefaultLocation</key>
	<string>/usr/local/lib</string>
	<key>IFPkgFlagFollowLinks</key>
	<integer>0</integer>
	<key>IFPkgFlagInstallFat</key>
	<integer>0</integer>
	<key>IFPkgFlagInstalledSize</key>
	<integer>152</integer>
	<key>IFPkgFlagIsRequired</key>
	<integer>1</integer>
	<key>IFPkgFlagOverwritePermissions</key>
	<integer>0</integer>
	<key>IFPkgFlagRelocatable</key>
	<integer>0</integer>
	<key>IFPkgFlagRestartAction</key>
	<string>NoRestart</string>
	<key>IFPkgFlagRootVolumeOnly</key>
	<integer>0</integer>
	<key>IFPkgFlagUpdateInstalledLanguages</key>
	<integer>0</integer>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
</dict>
</plist>
