<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Image Processing components for LabVIEW based on VVIS.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>LabVVIS LabVIEW library</string>
</dict>
</plist>
